<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Loan Web App</title>
    <script src="underscore.js"></script>
    <script src="moment.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      window.customer = {};
      customer.accounts = [{
        accountNumber: 12345,
        balance: 25000
      }];
      customer.loans = [];
      $(function(){
          var addLoan = function(){
          var $form=$(this);
          var loanObj={};
          var elems = $form.serializeArray()
          for(var kv in elems){
          loanObj[elems[kv].name]=elems[kv].value;
          };
          loanObj.principalBalance = parseInt(loanObj.principalBalance);
          loanObj.amountDue= parseInt(loanObj.amountDue);
          loanObj.lateFee= parseInt(loanObj.lateFee);
          loanObj.additionalInterest= parseInt(loanObj.additionalInterest);
          loanObj.paymentDue = loanObj.amountDue + loanObj.additionalInterest + loanObj.lateFee;
          customer.loans.push(loanObj);
          refreshLoans();
          return false;
          }
          var payLoan = function(loanAccountNumber){
          var loanObj = _.find(customer.loans, function(l) { 
            return l.loanAccountNumber==loanAccountNumber
            });
          var accountObj = customer.accounts[0];
          var balance = loanObj.paymentDue;
          if(loanObj.lateFee) { balance = balance- loanObj.lateFee; loanObj.lateFee=0;}
          if(loanObj.additionalInterest) { balance = balance- loanObj.additionalInterest; loanObj.additionalInterest=0;}
          loanObj.principalBalance=loanObj.principalBalance - balance;
          accountObj.balance = accountObj.balance - loanObj.paymentDue;
          loanObj.paymentDue = loanObj.amountDue;
          loanObj.nextPaymentDate = moment(Date.parse(loanObj.nextPaymentDate)).add('months',1).format("DD/MMM/YYYY");
          refreshLoans();
          }
          $("a#nav-accounts").click(function(){
              var accountsTemplate=$("#accountsTemplate").text();
              var fn=_.template(accountsTemplate.replace("\n"," "));
              $("#apphost").html(fn({}));
              return false;
              })
          var refreshLoans = function(){
            var loansTemplate=$("#loansTemplate").text();
            var fn=_.template(loansTemplate.replace("\n"," "));
            $("#apphost").html(fn({}));
            return false;

          }
          $("a#nav-loans").click(refreshLoans);
          var showNewLoan = function(){
            var loansTemplate=$("#newLoanTemplate").text();
            var fn=_.template(loansTemplate.replace("\n"," "));
            $("#apphost").html(fn({}));
            return false;

          }
          $(document).on("click",".pay-loan",function(){
              $button = $(this);
              payLoan($button.data("loanNumber"));
              })
          $(document).on("click","button.new-loan",showNewLoan);
          $(document).on("submit", "form#new-loan-form",addLoan);

      })
    </script>
    <script type="text/underscore" id="accountsTemplate">
<h3>Accounts</h3>
<ul class="accounts">
<% _.each(customer.accounts, function(account){ %>
<li class="account"><span class="account_number"><%=account.accountNumber%></span> 
                   has $ <span class="account_balance"><%=account.balance%></span></li>
<% }); %></ul>
    </script>
<script type="text/underscore" id="newLoanTemplate">
  <form id="new-loan-form">
    <label> Loan Account Number
    <input type="text" name="loanAccountNumber">
    </label><br/>
    <label> Principal Balance
    <input type="numeric" name="principalBalance">
    </label><br/>
    <label>Amount Due
    <input type="numeric" name="amountDue">
    </label><br/>
    <label>Next Payment Date
    <input type="text" name="nextPaymentDate">
    </label><br/>
    <label>Additional Interest
    <input type="numeric" name="additionalInterest" value="0">
    </label><br/>
    <label>Late fee
    <input type="numeric" name="lateFee" value="0">
    </label><br/>
    <input type="submit" value="create loan"/>
  </form>
</script>
    <script type="text/underscore" id="loansTemplate">
<h3>Loans</h3>
<div class="loans">
<button class="new-loan">New Loan</button>
<% _.each(customer.loans, function(loan){ %>
<div class="loan-<%=loan.loanAccountNumber%>">
<h5>Loan for <%=loan.loanAccountNumber%></h5>
<button class="pay-loan" data-loan-number="<%=loan.loanAccountNumber%>">Pay Loan</button>
<table>
<% for(var k in loan){ %>
<tr>
  <td><%=k%></td>
  <td class="<%=k%>"><%=loan[k]%></td>
</tr>
<% } %>
</table>
</div>
<% }); %>
    </script>
  </head>
  <body>
    <div class="container">
      <ul>
        <li><a href="#accounts" id="nav-accounts">Accounts</a></li>
        <li><a href="#loans" id="nav-loans">Loans</a></li>
      </ul>
      <div id="apphost">
        </div>
    </div>
  </body>
</html>
